body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}

.form-container {
    width: 350px;
    margin: 60px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;        /* makes label go to next line */
    margin-top: 12px;
    font-weight: bold;
}

input, select {
    width: 100%;           /* full width */
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    margin-top: 18px;
    padding: 10px;
    background: #4facfe;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #00c6ff;
}
